#请务必保存为UTF-8格式
spring:
 profiles:
  active: dev
---
server: 
 port: 8201
spring:
 profiles: dev     #开发环境
 application:
  name: rumospringcloudservice-config-user
eureka:
 client:
  service-url:
   defaultZone: http://eureka-dev.com:7001/eureka/
---
server: 
 port: 8202
spring:
 profiles: test     #测试环境
 application:
  name: rumospringcloudservice-config-user
eureka:
 client:
  service-url:
   defaultZone: http://eureka-test.com:7001/eureka/